In [17]:
import json
import pandas as pd
import os
import unicodedata

In [14]:
# Load JSON data
with open('../data/processed/articles.json', 'r', encoding='utf-8') as file:
    articles = json.load(file)

# Convert JSON to DataFrame
df = pd.DataFrame(articles)

# Data Inspection
print("Initial Data Info:")
print(df.info())

# Head
print("Head")
display(df.head())
print()
# Tail
print("Tail")
display(df.tail())

# Nan

Initial Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    398 non-null    object
 1   content  398 non-null    object
dtypes: object(2)
memory usage: 6.3+ KB
None
Head

,title,content
0,𞤘𞤀𞥄𞤟𞥆𞤀 𞤐𞤌𞤐؟,𞤂𞤫𞤧𞤯𞤫 𞤖𞤋𞥅𞤈𞤐𞤀𞤐𞤑𞤌𞥅𞤔𞤉 (𞤌𞤳𞤧𞤭𞤣𞤢𞤲) 𞥑𞥕 𞤫 𞤤𞤫𞤴 𞤳𞤮𞤲𞤺𞤮𞤤 𞤀...
1,𞤑𞤀𞤃𞤀𞤈𞤓𞤐: 𞤅𞤋𞤑𞥆𞤀𞤐𞤌𞥅𞤍𞤌 𞤌𞤐 𞤃𞤀𞥄𞤒𞤋𞥅⹁ 𞤀𞤈𞤚𞤋𞥅,𞤀𞤱𞤢 𞤧𞤭𞤳𞥆𞤢𞤲𞤮𞥅𞤯𞤮 𞤮𞤲 𞤥𞤢𞤴𞤭𞥅 𞤢𞤪𞤼𞤭𞥅.𞤆𞤌𞤂 𞤄𞤋𞤒𞤀⹁ 𞤸𞤮𞥅𞤪𞤫𞥅...
2,𞤊𞤌𞤐𞤋𞤑𞤉𞥅 𞤃𞤉𞤐𞤘𞤉𞥅 𞤉 𞤄𞤋𞤂𞥆𞤌 𞤄𞤀𞥄⹁ 𞤚𞤋𞤃𞥆𞤋𞥅 𞤄𞤀𞥄𞤂𞤍𞤉 𞤅𞤀𞤆𞥆𞤌,𞤘𞤋𞤐𞤉⹁ 𞤖𞤌𞥅𞤈𞤉𞥅𞤇𞤉 𞤁𞤋𞤂𞥆𞤀𞤐𞤁𞤉 FNDC 𞤂𞤋𞤁𞥆𞤋𞥅𞤐𞤁𞤉 𞤔𞤓𞤐𞥆𞤋𞤚𞤀...
3,𞤀 𞤆𞤉𞤏 𞤁𞤌𞤐𞤀𞤂 𞤚𞤈𞤌𞤆𞤃 𞤖𞤉𞤁𞥆𞤌𞥅 𞤉 𞤊𞤉𞤂𞥆𞤋𞤐𞥋𞤁𞤋𞤈𞤌,𞤁𞤮𞤲𞤢𞤤 𞤚𞤪𞤮𞤥𞤨⹁ 𞤸𞤮𞥅𞤪𞤫𞥅𞤶𞤮 𞤳𞤭𞤯𞥆𞤮 𞤀𞤥𞤫𞤪𞤭𞤳⹁ 𞤲𞤮 𞤧𞤮𞤪𞤼𞤢𞥄 ...
4,𞤖𞤌𞤂 𞤂𞤋𞤁𞥆𞤌𞤂! 𞤆𞤓𞤂𞥆𞤌 𞤅𞤀𞤂𞤋𞥅𞤍𞤌 𞤖𞤀𞥄𞤂𞤓𞤁𞤉 𞤆𞤓𞤂𞤀𞤈,𞤐𞤮 𞤱𞤮𞥅𞤱𞤭𞤪𞤭 𞤲𞤮𞤲⹁ 𞤬𞤫𞤱𞤲𞤣𞤮 𞤼𞤢𞥄𞤪𞤢𞤲𞤺𞤮𞤤 𞤑𞤢𞤤𞤭𞥅𞤬𞤢𞥄𞤶𞤮 𞤊𞤵...

Tail

,title,content
393,𞤉𞤪𞤣𞤮𞤺𞤢𞥄𞤲 𞤚𞤵𞤥𞤦𞤮’𞤣𞤭𞤪𞤢𞤤 𞤘𞤫𞤲𞤯𞤭 𞤘𞤮𞤼𞥆𞤵𞤯𞤭,𞤉𞤪𞤣𞤮𞤺𞤢𞥄𞤲 𞤸𞤫𞤪𞤧𞤭𞤪𞤢𞥄𞤤𞤭 𞤳𞤮𞤲𞤺𞤵𞤯𞤭 𞤥𞤵𞤲 𞤯𞤭𞤲\n𞤃𞤮𞤪𞤧𞤭𞥅⹁ 𞤫...
394,𞤁𞤢𞤱𞤪𞤮 𞤫 𞤩𞤢𞥄𞤱𞤮 𞤣𞤢𞤱𞤪𞤮𞥅𞤩𞤫,𞤏𞤮𞤼𞤢 𞤮𞤲 𞤶𞤭𞤳𞥆𞤭𞤲𞤮𞤪 𞤬𞤮𞤼𞤢 𞤩𞤫𞤲 𞤱𞤢𞤯𞤵𞤩𞤫 𞤣𞤢𞤱𞤪𞤮 𞤲𞤺𞤮𞤲 𞤥𞤫...
395,𞤃𞤫𞥅𞤧𞤭𞥅: 𞤊𞤭𞤶𞤮𞥅𞤱𞤮 𞤊𞤭𞥅𞤬𞤢𞥄 𞤖𞤭𞤼𞤢𞥄𞤲𞤣𞤫,Alaa Android 8? Dhibbu dhoo\n𞤑𞤮 𞤃𞤫𞥅𞤧𞤭𞥅⹁ 𞤢𞤪𞤶𞤢𞤲𞤼...
396,𞤉𞤤𞤼𞤮𞥅𞤱𞤮 𞤳𞤫𞤧𞤮 𞤬𞤭𞥅 𞤅𞤭𞤤𞤭𞥅 𞤐𞤢𞤧𞥆𞤭𞤴𞤮𞤲𞤢𞤤,Alaa Android 8? Dhibbu dhoo\n𞤑𞤮 𞤁𞤭𞤣𞤭𞤴𞤫𞥅 𞤅𞤭𞥅𞤧 𞤱...
397,𞤇𞤫𞥅 𞤺𞤢𞤴𞤲𞤭𞥅 𞤴𞤫𞥅𞤴𞤵𞤣𞤫 𞤶𞤢𞤱𞤤𞤫 𞤥𞤫𞤲 𞤯𞤫𞤲,"Si vous n’avez pas Android 8, cliquez ici\n𞤐𞤣𞤫..."

In [16]:
# Handling Missing Data
df.fillna(method='ffill', inplace=True)  # Forward fill example

# Removing Duplicates
df.drop_duplicates(inplace=True)

# strip and lowercase
df['title'] = df['title'].apply(lambda x: unicodedata.normalize('NFC', x.strip()))
df['content'] = df['content'].apply(lambda x: unicodedata.normalize('NFC', x.strip()))

/var/folders/xm/3ct03h_d797_ld5z2gg5nmsc0000gn/T/ipykernel_27018/251149765.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Forward fill example

In [21]:
# Save the cleaned data as a CSV file
cleaned_data_path_csv = "../cleaned_data/cleaned_data.csv"
df.to_csv(cleaned_data_path_csv, index=False)
print("Data cleaning complete. Cleaned data saved to: ", cleaned_data_path_csv)

# Save the cleaned data as a single list with records separated by commas in JSON format
cleaned_data_path_json = "../cleaned_data/cleaned_articles.json"
with open(cleaned_data_path_json, 'w', encoding='utf-8') as file:
    json.dump(articles, file, ensure_ascii=False, indent=4)
print("Data cleaning complete. Cleaned data saved to: ", cleaned_data_path_json)

Data cleaning complete. Cleaned data saved to:  ../cleaned_data/cleaned_data.csv
Data cleaning complete. Cleaned data saved to:  ../cleaned_data/cleaned_articles.json